{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock page_title %}

{% block content %}

<div class="container">
    <h1 class="mt-3">Login</h1>

    <form class="mt-3" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-bg btn-outline-dark mt-3" >Login</button>
        
    </form>
    <a href="{% url 'password_reset' %}" class="btn btn-bg btn-outline-danger mt-3 " >Forget Password ?</a>
    <a href="{% url 'signup' %}" class="btn btn-bg btn-outline-primary mt-3 " >Signup</a>
</div>


{% endblock content %}



