
{% extends '_base.html' %}

{% block page_title %}BLOG{% endblock page_title %}



{% block content %}

<div class="container mt-4">
    <div class="row">        
        <div class="col-8">
            {% for post in post_list %}
            <div class="card shadow my-1">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted small py-2">Created: {{ post.date_time_created }} || modified: {{ post.date_time_modified }}</h6>
                    <p class="card-text py-1">{{ post.text }}</p>
                    <p class="card-text py-1">By: {{ post.author }}</p>
                    <div class="btn btn-bg btn-outline-success">
                        Read More
                    </div>
                    <button type="button" class="btn btn-bg btn-outline-dark">Dark</button>
                </div>
            </div>
            {% endfor %} 
        </div> 
        <div class="col-4">
            <div class="card shadow my-1 ">
                {% load static %}
                <img src="{% static 'pages/2.jpg' %}">
                <div class="card-body">
                    <h5 class="card-title">Manifest-بیانیه</h5>
                    <p class="card-text">حکومت مردمی فدرالیست به معنای شهر آزادی می باشد که تنها مسیر دسترسی به
                        آن از جاده آگاهی می باشد.
                    </p>
                    <a href="{% url 'manifest-consciousness' %}" class="btn btn-bg btn-outline-danger">Click here</a>
                </div>
            </div>
        </div>
    </div>    
</div>
    
    
{% endblock content %}
    
    
    
    
    
    
    