{% extends '_base.html' %}

{% block page_title %}DELETE{% endblock page_title %}



{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow my-3 p-5">
                <h1>Delete Post</h1>
                <br>
                <h3>Are You Sure?</h3>
                <br>
                <form action="" method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-bg btn-danger">DELETE</button>
                    <a class="btn btn-bg btn-outline-dark" href="{% url 'blog_detail_view' post.id %}">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}