
{% extends '_base.html' %}

{% block page_title %}BLOG{% endblock page_title %}



{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-9">
                {% for post in post_list %}
                <div class="card shadow-sm my-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted small py-2">2 Sep 2021</h6>
                        <p class="card-text py-3">{{ post.text }}</p>
                        <p class="card-text py-3">{{ post.author }}</p>
                        <p class="card-text py-3">{{ post.date_time_created }}</p>
                        <p class="card-text py-3">{{ date_time_modified }}</p>
                        <p class="card-text py-3">{{ post.text }}</p>
                        <div class="btn btn-bg btn-outline-success">Read More</div>
                        <button type="button" class="btn btn-bg btn-outline-dark">Dark</button>
                    </div>
                </div>
                {% endfor %} 
            </div>    
            <div class="col-3">
                <div class="container mt-2">
                    <div class="card" style="width: 18rem;">
                        {% load static %}
                        <img src="{% static 'pages/women.jpg' %}">
                    <div class="card-body">
                    <h5 class="card-title">Manifest-بیانیه</h5>
                    <p class="card-text">حکومت مردمی فدرالیست به معنای شهر آزادی می باشد که تنها مسیر دسترسی به
                        آن از جاده آگاهی می باشد.
                    </p>
                    <a href="{% url 'blog' %}" class="btn btn-bg btn-outline-danger">Click here</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock content %}
    
    
    
    
    
    
    