<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock page_title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <a href="/">Home</a>        
        <a href="{% url 'contactus' %}">قیرغمبیلیژ</a>        
        <a href="/about">About</a>        

        {% block content %}
        
        {% endblock content %}

    </body>
</html>