
{% extends '_base.html' %}

{% block page_title %}HOMEPAGE{% endblock page_title %}



{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted small py-2">2 Sep 2021</h6>
                    <p class="card-text py-3">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <div class="btn btn-bg btn-outline-success">Read More</div>
                    <button type="button" class="btn btn-bg btn-outline-dark">Dark</button>
                </div>
            </div>
        </div>
        <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                        
                    </div>
                </div>

        </div>
    </div>
</div>




{% endblock content %}


