{% extends '_base.html' %}

{% block page_title %}Detail:{{ book.title }}{% endblock page_title %}


{% block content %}
    
    
        <h1>{{ book.title }}</h1>
        <p>{{ book.description }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <br>
        <a href="{% url 'book_edit' book.id %}">Edit this book</a>    
        <a href="{% url 'book_delete' book.id %}">Delete this book</a>    
        <br>
        <a href="{% url 'book_list' %}">Back to Books</a>    

{% endblock content %}
