{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Create{% endblock %}

{% block content%}
<h1 class="mt-4 d-flex justify-content-center">Create New Book</h1>
    
<div class="container mt-4" dir="rtl">
    <div class="row">
        <div class="col-9">
            <div class="card shadow my-3">
                <h5 class="card-header bg-success text-light px-5">Create New Book</h5>
                <div class="px-5 pt-3 pb-5">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-success mt-3" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
                <div class="card my-3 shadow">
                    <h5 class="card-header bg-warning text-light">Guide - Führung</h5>
                    <div class="card-body">
                        <p class="card-text">
                            اطلاعات کتاب را در فرم این صفحه وارد کنید و سپس بر روی دکمه ذخیره کلیک کنید.
                        </p>
                        
                    </div>
                </div>
                <a href="{% url 'book_list' %}" class="btn btn-success">Back - zurück kommen</a>

        </div>
    </div>
</div>


{% endblock %}